
body, html{
  width:100%;
  height: 100%;
}
.wrapper{
  height: 100%; 
  max-width: 1600px;
  background-color: #3FACD1;
}
#loginWrapper{

  padding: 5px;
  padding-top: 5px;
  text-align: center;
  color:white;
  font-weight: bold;
  font-size: 32px;
  padding-top: 30px;
}
.refreshBtn{
  position: absolute;
  width: 100px;
  height: 100px;
  top:50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
#myFetchBtn{
  position: absolute;
  width: 100px;
  height: 100px;
  left:0px;
  bottom:0px;
}
.loginForm{
  text-align: right;
  padding-top: 10px;
  padding-right:130px;
  
}
.loginForm .form-inline .form-group label{
  
  font-weight: normal;
  color: white;

}
.loginForm .form-inline .form-group .form-control{
padding: 5px;
height: 25px;
border-radius: 0px;
width:98px;

}
.loginBtn{
  /*background-image: url(../images/login-btn.png);
  background-position: center;
  width: 25px;*/
  padding: 3px;
  height: 25px;
  margin-top: -1px;
  vertical-align: middle;
  color:white;
  background-color: rgb(250, 21, 21);
  cursor: pointer;
  border-radius: 0px;
  border:0px;
}

#mainWrapper{
  background-image: url(../images/main_banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 780px;
  position: relative;
}
#menuWrapper{
  background-image: url(../images/logo-m.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  height: 170px;
  padding-left:370px;
}
@media (max-width:1080px){
  #menuWrapper{
    background-image: url(../images/logo-s.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    height: 160px;
    padding-left:245px;
  }
}
@media (max-width:1000px){
  #menuWrapper{
    background-image: none;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    height: 20px;
    padding-left:0px;
  }
}
#menuBtnWrapper{
  padding-top: 20px;
  text-align: right;
  font-weight: bold;
}
.menuBtn{
  display: inline-block;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  color: #2A748B;
  height: 40px;
  cursor: pointer;
}
.menuBtn:hover{
  color:#E62E25;
  text-decoration: underline;
}
.content{
  padding: 10px;
  padding-bottom: 60px;
}
#runningTxtWrapper{
  background-image: url(../images/plane.png);
  background-position: top left;
  background-repeat: no-repeat;
  height: 100px;
  padding-left:156px;
}
#runningTxtDiv{
  height: 45px;
  background-image: url(../images/runninTxt_tail.png);
  background-position: top right;
  background-repeat: no-repeat;
  padding-right: 40px;
}
#runningTxt{
  background-image: url(../images/runninTxt_bg.png);
  height: 45px;
  padding: 10px;
  padding-right: 140px;
  
}



#fbWrapper{
  position: absolute;
  left:20px;
  bottom:-15px;
  background-image: url(../images/fb-icon.png);
  background-position: top left;
  background-repeat: no-repeat;
  height: 75px;
  width:25%;
  padding-left: 80px;
  padding-top: 10px;
  background-size: 75px 75px;
}
#fbTxt{
  color:#0B47A7;
  font-size: 12px;
}
@media (max-width:1060px){
  #fbTxt{
    
    font-size: 10px;
  }
}
/* customer services */
#csDivider{
  display: none;
}
@media (max-width:500px){
  #csDivider{
    display: block;
  }
}
#csWrapper{
  position: absolute;
  bottom:10px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.csIcon{
  padding-right: 5px;
  padding-left: 5px;
}
@media (max-width:700px){
  #csWrapper{
    font-size: 12px;
    bottom:0px;
  }
  .csIcon{
    width: 35px;
    height: 35px;
    padding-right: 3px;
    padding-left: 3px;
  }
  .csIcon img{
    width: 100%;
  }
}

/* customer services */
#bottomWrapper{
  /*background-image: url(../images/bottomBg.png);
  background-position: top;
  background-repeat: repeat-x;*/
 
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,229,127,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(0,229,127,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,229,127,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,229,127,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,229,127,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(0,229,127,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00e57f', GradientType=0 );
  height: auto;
  padding-bottom: 10px;
}
/* bank */
#bankWrapper{
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
}
.bankDot{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  vertical-align: middle;
}
.bankOffline{
  background-color: grey;
}
.bankOnline{
  background-color: green;
}
.bankName{
  font-size: 22px;
  font-weight: bold;
  padding-right: 20px;
  vertical-align: middle;
}
@media (max-width:700px){
  #bankWrapper{
    padding-top: 5px;
  }
  .bankDot{
    width: 10px;
    height: 10px;
    border-radius: 5px;

  }
  .bankName{
    font-size: 14px;
    padding-right: 10px;

  }
}
/* bank */
#bottomDiv{
  padding: 20px;
  padding-right: 680px;
  position: relative;
}
#bottomDiv.mobile{
  
  padding: 10px;
  padding-right: 10px;
  padding-top: 0px;
}
#bottomWelcomeDiv, #latestDepositDiv, #latestWithdrawDiv{
 
  height: 217px;

}
#bottomWelcomeDiv{
 
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 15px;
}
#bottomWelcomeBox{
  padding: 10px;
  border-radius: 10px;
  height: 100%;
  background-color: white;
  margin-top: -10px;
}
#bottomWelcome{
  overflow-y: auto;
  height: 100%;
}
.bottomWelcome{
  white-space: pre-line;
}
#latestDepositDiv, #latestWithdrawDiv{
  width: 320px;
  position: absolute;
  right: 20px;
  top:20px;
  padding-left: 150px;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-right: 10px;
}

#latestDepositDiv{
  right: 360px;
  top:20px;
}
.latestInfo{
  overflow-y: hidden;
  height: 100%;
  padding: 5px;
  font-size: 16px;
  line-height: 16px;
}

#latestDepositDiv{
  background-image: url(../images/latest-deposit.png);
  background-position: top left;
  background-repeat: repeat-x;
}
#latestWithdrawDiv{
  background-image: url(../images/latest-withdraw.png);
  background-position: top left;
  background-repeat: repeat-x;
}
#bottomWelcomeDiv.mobile{
  padding: 0px;
  padding-bottom: 25px;
}
#latestDepositDiv.mobile, #latestWithdrawDiv.mobile{
  position: static;
  background-image: none;
  padding: 10px;
  border-radius: 10px;
  height: auto;
  background-color: white;
  display: inline-block;
  width: 49%;
  margin: auto;
}
#bottomWelcomeDiv.mobile{
  height: auto;
}
.d_w_info_div{
  font-size: 12px;
  padding-left: 3px;
  padding-top: 1px;
  /*background-image: url(../images/red-tick.png);
  background-position: center left;
  background-repeat: no-repeat;*/
  text-align: left;
  cursor: default;
}
@media (max-width:1000px){
  .d_w_info_div{
    font-size: 16px;
  }
}
@media (max-width:400px){
  #latestDepositDiv.mobile, #latestWithdrawDiv.mobile{
    width: 100%;
    margin-bottom: 10px;
  }
  .d_w_info_div{
    font-size: 16px;
  }
}
#latestWithdrawDiv.mobile{
  float: right;
}
